<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/public/javascripts/main.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
<div class="header">Algorithmus</div>
<form id="arrayInput" onsubmit="return false">
    <label for="array">Enter numbers separated with "," for testing:</label><input type="text" id="array"
                                                                                   onkeyup="checkArray()" required>
    <button type="submit" onclick="checkAndShow();" id="send">Submit</button>
</form>
<div id="chosenArray"><p>Array for testing is [<b id='arr'></b>]. Chose algorithm.</p></div>
<div id="wrapper">
    <div class='block' id="countingSort">Counting Sort</div>
    <div class='block' id="radixSort">Radix Sort</div>
    <div class='block' id="mergeSort">Merge Sort</div>
    <div class='block' id="insertionSort">Insertion Sort</div>
    <div class='block' id="heapSort">Heap Sort</div>
    <div class='block' id="twoSum">2 Sum Problem</div>
    <div class='block'></div>
    <div class='block'></div>
</div>
<div id="dialog" title="">
</div>
<h1><%= property %></h1>
</body>
</html>