body, html {
    font: 14px serif;
    height: 100%;

    background: rgba(255,167,143,1);
    background: -moz-linear-gradient(-45deg, rgba(255,167,143,1) 0%, rgba(255,167,143,1) 12%, rgba(237,169,110,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,167,143,1) 0%, rgba(255,167,143,1) 12%, rgba(237,169,110,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,167,143,1) 0%, rgba(255,167,143,1) 12%, rgba(237,169,110,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,167,143,1) 0%, rgba(255,167,143,1) 12%, rgba(237,169,110,1) 100%);
    background: linear-gradient(135deg, rgba(255,167,143,1) 0%, rgba(255,167,143,1) 12%, rgba(237,169,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa78f', endColorstr='#eda96e', GradientType=1 );

    color: rgb(80, 63, 63);
}

a {
    color: #00B7FF;
}

.header {
    color: white;
    height: 100px;
    width: 100%;
    background-color: rgba(249, 240, 175, 0.7);
    text-align: center;
    font: bold 70px fantasy;
    padding: 15px 0;
    border-bottom: 2px solid white;
}

.wrapper {
    height: 100%;
    background-color: rgb(223, 238, 209);
    width: 100%;
    padding-top: 10px;
}

.block {
    width: 20%;
    float: left;
    margin-left: 4%;
    margin-bottom: 10px;
    height: 200px;
    background-color: rgba(255, 254, 241, 0.4);
    text-align: center;
    line-height: 200px;
    color: white;
    font-size: 30px;

}

#arrayInput {
    width: 80%;
    height: 50px;
    padding: 20px;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

#array {
    width: 60%;
    margin: 0 30px;
    height: 25px;
    font-size: 20px;
    background: rgb(244, 240, 214);
    color: rgb(80, 63, 63);
}

#send {
    height: 30px;
    font-size: 14px;
    background-color: wheat;
    border: 1px solid white;
}

#chosenArray {
    visibility: hidden;
    font-size: 30px;
    text-align: center;
    margin: 30px 0 40px;
}
#dialogInput {
    width: 100%;
    margin-top: 20px;
}

#submitDialog{
    margin-top: 20px;
}

#dialog{
    min-height: 50px !important;
}